body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 10px;
    color: darkblue;
}
h2 {
    color: #333;
}
p {
    color: #666;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

caption {
    caption-side: top;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

th, td {
    border: 1px solid #b19048;
    padding: 6px 8px;
    text-align: left;
}

th {
    background-color: #ccd463;
}

.no-results {
    margin-top: 10px;
    font-style: italic;
    color: #e46868;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    width: 200px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

/* mensajes de error */
.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.done-yes {
    background-color: #d4f5dc;  /* verde */
}

.done-no {
    background-color: #ffeff1;  /* rojo */
}