/*
 * admonittion:  ies
*                institut
 */
:root {
  --md-admonition-icon--ies: url('../img/ies16.svg')
}
.md-typeset .admonition.ies,
.md-typeset details.ies {
  border-color: #bd8f04;
}
.md-typeset .ies > .admonition-title,
.md-typeset .ies > summary {
  background-color: #ffd453;
}
.md-typeset .ies > .admonition-title::before,
.md-typeset .ies > summary::before {
  background-color: #bd8f04;
  -webkit-mask-image: var(--md-admonition-icon--ies);
          mask-image: var(--md-admonition-icon--ies);
}


/*
 * admonittion:  inst
 *               instalació
 */
:root {
  --md-admonition-icon--inst: url('../img/inst16.svg')
}
.md-typeset .admonition.inst,
.md-typeset details.inst {
  border-color: rgb(5, 22, 255);
}
.md-typeset .inst > .admonition-title,
.md-typeset .inst > summary {
  background-color: rgba(5, 22, 255, 0.14);
}
.md-typeset .inst > .admonition-title::before,
.md-typeset .inst > summary::before {
  background-color: rgb(12, 38, 126);
  -webkit-mask-image: var(--md-admonition-icon--inst);
          mask-image: var(--md-admonition-icon--inst);
}


/*
 * admonittion:  creative commons
 */
 :root {
  --md-admonition-icon--cc: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m11.89 10.34-1.34.7c-.14-.3-.31-.51-.52-.63s-.41-.18-.58-.18c-.9 0-1.34.59-1.34 1.77 0 .54.11.97.34 1.29.22.32.55.48 1 .48.58 0 .99-.27 1.23-.86l1.23.63c-.26.49-.62.87-1.09 1.15q-.69.42-1.53.42c-.9 0-1.62-.27-2.17-.82C6.58 13.74 6.3 13 6.3 12c0-.95.28-1.7.83-2.26q.84-.84 2.1-.84c1.24-.01 2.13.48 2.66 1.44m5.77 0-1.32.7c-.14-.3-.34-.51-.53-.63q-.315-.18-.6-.18c-.89 0-1.34.59-1.34 1.77 0 .54.13.97.34 1.29.23.32.56.48 1 .48.59 0 1-.27 1.24-.86l1.25.63c-.28.49-.65.87-1.11 1.15-.47.28-.97.42-1.52.42-.9 0-1.63-.27-2.17-.82S12.09 13 12.09 12c0-.95.28-1.7.83-2.26S14.17 8.9 15 8.9c1.26-.01 2.14.48 2.66 1.44M12 3.5a8.5 8.5 0 0 1 8.5 8.5 8.5 8.5 0 0 1-8.5 8.5A8.5 8.5 0 0 1 3.5 12 8.5 8.5 0 0 1 12 3.5M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>')
}
.md-typeset .admonition.cc,
.md-typeset details.cc {
  border-color: rgb(40, 39, 39);
}
.md-typeset .cc > .admonition-title,
.md-typeset .cc > summary {
  background-color: rgba(218, 218, 218, 0.801);
}
.md-typeset .cc > .admonition-title::before,
.md-typeset .cc > summary::before {
  background-color: rgb(40, 39, 39);
  -webkit-mask-image: var(--md-admonition-icon--cc);
          mask-image: var(--md-admonition-icon--cc);
}

/*
 * admonittion:  youtube
 */
 :root {
  --md-admonition-icon--youtube: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.--><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305m-317.51 213.508V175.185l142.739 81.205z"/></svg>')
}
.md-typeset .admonition.youtube,
.md-typeset details.youtube {
  border-color: rgb(148, 3, 3);
}
.md-typeset .youtube > .admonition-title,
.md-typeset .youtube > summary {
  background-color: rgba(253, 212, 212, 0.801);
}
.md-typeset .youtube > .admonition-title::before,
.md-typeset .youtube > summary::before {
  background-color: rgb(148, 3, 3);
  -webkit-mask-image: var(--md-admonition-icon--youtube);
          mask-image: var(--md-admonition-icon--youtube);
}

/*
 * admonittion:  ejemplos php
 */
 :root {
  --md-admonition-icon--examplephp: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check-bold</title><path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" /></svg>');
}
.md-typeset .admonition.examplephp,
.md-typeset details.examplephp {
  border-color: #7d4fff;
}
.md-typeset .examplephp > .admonition-title,
.md-typeset .examplephp > summary {
  background-color: #f2edff;
}
.md-typeset .examplephp > .admonition-title::before,
.md-typeset .examplephp > summary::before {
  background-color: #7d4fff;
  -webkit-mask-image: var(--md-admonition-icon--examplephp);
          mask-image: var(--md-admonition-icon--examplephp);
}

/*
 * admonittion:  questiones php
 */
 :root {
  --md-admonition-icon--questionphp: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check-bold</title><path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" /></svg>');
}
.md-typeset .admonition.questionphp,
.md-typeset details.questionphp {
  border-color: #64dd17;
}
.md-typeset .questionphp > .admonition-title,
.md-typeset .questionphp > summary {
  background-color: #effce7ff;
}
.md-typeset .questionphp > .admonition-title::before,
.md-typeset .questionphp > summary::before {
  background-color: #64dd17;
  -webkit-mask-image: var(--md-admonition-icon--questionphp);
          mask-image: var(--md-admonition-icon--questionphp);
}

/*
 * admonittion:  teoria laravel
 */
 :root {
  --md-admonition-icon--teolaravel: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M107.2 0c2.5 0 4.7 .8 6.7 2l94.3 54.1c2.7 1.5 4.5 3.5 5.4 5.9c.9 2.2 .9 4.3 .9 5.6l0 193.4 69.2-39.7 0-100.3c0-2.6 .6-5 2.2-7.2c1.5-2.1 3.5-3.6 5.7-4.8c0 0 0 0 0 0l94-54c1.6-.9 3.4-1.6 5.5-1.6s4 .7 5.6 1.6l95.8 55.1c2.3 1.3 3.9 3 4.9 5.3c.9 2.1 .9 4.2 .9 5.8l0 107.2c0 2-.2 4.3-1.4 6.4c-1.2 2.2-3 3.7-5.1 4.9l-.1 .1-88 50.5 0 100c0 2.3-.3 4.8-1.6 7c-1.3 2.2-3.3 3.7-5.3 4.9c0 0 0 0-.1 0L208.7 510c-2.2 1.2-4.5 2-7.1 2s-4.9-.9-7.1-2l-.1-.1L7.1 402l-.5-.3c-1.1-.7-2.6-1.7-3.8-2.9C.9 396.9 0 394.6 0 391.6L0 65.9c0-4.8 3-7.9 5.5-9.3L100.5 2c2-1.2 4.3-2 6.8-2zM38.1 67.1l69 39.9 69.2-39.9L107.1 27.4l-69 39.7zm353 93.2l69-39.7-69-39.7-69.1 39.7 69.1 39.7zM189.2 89L120 128.8l0 186.4 69.2-39.9 0-186.4zM94.5 128.9L25.2 89.1l0 294.2 164 94.2 0-79.4-87.3-49.3-.2-.1c-1.3-.8-3.2-1.9-4.6-3.7c-1.7-2.1-2.5-4.7-2.5-7.7l0-208.5zm214.7 92.4l69.3 39.6 0-78.5-69.3-39.9 0 78.8zm94.5 39.6L473 221.2l0-78.8-69.3 39.9 0 78.5zM201.6 376.1l163.8-93.2-69-39.9L133 337.1l68.6 38.9zm12.9 101.5l164-94.2 0-78.8-164 93.6 0 79.4z"/></svg>');
}
.md-typeset .admonition.teolaravel,
.md-typeset details.teolaravel {
  border-color: #e6af0aff;
}
.md-typeset .teolaravel > .admonition-title,
.md-typeset .teolaravel > summary {
  background-color: rgb(251, 252, 231);
  font-weight: 600;   /* grosor més suau */
  color: rgb(170, 130, 9);     /* verd fosc suau i elegant */  
}
.md-typeset .teolaravel > .admonition-title::before,
.md-typeset .teolaravel > summary::before {
  background-color: #e6af0aff;
  -webkit-mask-image: var(--md-admonition-icon--teolaravel);
          mask-image: var(--md-admonition-icon--teolaravel);
}

/*
 * admonittion:  ejemplos laravel
 */
 :root {
  --md-admonition-icon--examplelaravel: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M107.2 0c2.5 0 4.7 .8 6.7 2l94.3 54.1c2.7 1.5 4.5 3.5 5.4 5.9c.9 2.2 .9 4.3 .9 5.6l0 193.4 69.2-39.7 0-100.3c0-2.6 .6-5 2.2-7.2c1.5-2.1 3.5-3.6 5.7-4.8c0 0 0 0 0 0l94-54c1.6-.9 3.4-1.6 5.5-1.6s4 .7 5.6 1.6l95.8 55.1c2.3 1.3 3.9 3 4.9 5.3c.9 2.1 .9 4.2 .9 5.8l0 107.2c0 2-.2 4.3-1.4 6.4c-1.2 2.2-3 3.7-5.1 4.9l-.1 .1-88 50.5 0 100c0 2.3-.3 4.8-1.6 7c-1.3 2.2-3.3 3.7-5.3 4.9c0 0 0 0-.1 0L208.7 510c-2.2 1.2-4.5 2-7.1 2s-4.9-.9-7.1-2l-.1-.1L7.1 402l-.5-.3c-1.1-.7-2.6-1.7-3.8-2.9C.9 396.9 0 394.6 0 391.6L0 65.9c0-4.8 3-7.9 5.5-9.3L100.5 2c2-1.2 4.3-2 6.8-2zM38.1 67.1l69 39.9 69.2-39.9L107.1 27.4l-69 39.7zm353 93.2l69-39.7-69-39.7-69.1 39.7 69.1 39.7zM189.2 89L120 128.8l0 186.4 69.2-39.9 0-186.4zM94.5 128.9L25.2 89.1l0 294.2 164 94.2 0-79.4-87.3-49.3-.2-.1c-1.3-.8-3.2-1.9-4.6-3.7c-1.7-2.1-2.5-4.7-2.5-7.7l0-208.5zm214.7 92.4l69.3 39.6 0-78.5-69.3-39.9 0 78.8zm94.5 39.6L473 221.2l0-78.8-69.3 39.9 0 78.5zM201.6 376.1l163.8-93.2-69-39.9L133 337.1l68.6 38.9zm12.9 101.5l164-94.2 0-78.8-164 93.6 0 79.4z"/></svg>');
}
.md-typeset .admonition.examplelaravel,
.md-typeset details.examplelaravel {
  border-color: #7d4fff;
}
.md-typeset .examplelaravel > .admonition-title,
.md-typeset .examplelaravel > summary {
  background-color: #f2edff;
  font-weight: 600;   /* suaviza el grosor del título */
  color: #3d2b7b;     /* color de texto más elegante (lavanda oscuro) */
}
.md-typeset .examplelaravel > .admonition-title::before,
.md-typeset .examplelaravel > summary::before {
  background-color: #7d4fff;
  -webkit-mask-image: var(--md-admonition-icon--examplelaravel);
          mask-image: var(--md-admonition-icon--examplelaravel);
}

/*
 * admonittion:  questiones laravel
 */
 :root {
  --md-admonition-icon--questionlaravel: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M107.2 0c2.5 0 4.7 .8 6.7 2l94.3 54.1c2.7 1.5 4.5 3.5 5.4 5.9c.9 2.2 .9 4.3 .9 5.6l0 193.4 69.2-39.7 0-100.3c0-2.6 .6-5 2.2-7.2c1.5-2.1 3.5-3.6 5.7-4.8c0 0 0 0 0 0l94-54c1.6-.9 3.4-1.6 5.5-1.6s4 .7 5.6 1.6l95.8 55.1c2.3 1.3 3.9 3 4.9 5.3c.9 2.1 .9 4.2 .9 5.8l0 107.2c0 2-.2 4.3-1.4 6.4c-1.2 2.2-3 3.7-5.1 4.9l-.1 .1-88 50.5 0 100c0 2.3-.3 4.8-1.6 7c-1.3 2.2-3.3 3.7-5.3 4.9c0 0 0 0-.1 0L208.7 510c-2.2 1.2-4.5 2-7.1 2s-4.9-.9-7.1-2l-.1-.1L7.1 402l-.5-.3c-1.1-.7-2.6-1.7-3.8-2.9C.9 396.9 0 394.6 0 391.6L0 65.9c0-4.8 3-7.9 5.5-9.3L100.5 2c2-1.2 4.3-2 6.8-2zM38.1 67.1l69 39.9 69.2-39.9L107.1 27.4l-69 39.7zm353 93.2l69-39.7-69-39.7-69.1 39.7 69.1 39.7zM189.2 89L120 128.8l0 186.4 69.2-39.9 0-186.4zM94.5 128.9L25.2 89.1l0 294.2 164 94.2 0-79.4-87.3-49.3-.2-.1c-1.3-.8-3.2-1.9-4.6-3.7c-1.7-2.1-2.5-4.7-2.5-7.7l0-208.5zm214.7 92.4l69.3 39.6 0-78.5-69.3-39.9 0 78.8zm94.5 39.6L473 221.2l0-78.8-69.3 39.9 0 78.5zM201.6 376.1l163.8-93.2-69-39.9L133 337.1l68.6 38.9zm12.9 101.5l164-94.2 0-78.8-164 93.6 0 79.4z"/></svg>');
}
.md-typeset .admonition.questionlaravel,
.md-typeset details.questionlaravel {
  border-color: #64dd17;
}
.md-typeset .questionlaravel > .admonition-title,
.md-typeset .questionlaravel > summary {
  background-color: #effce7ff;
  font-weight: 600;   /* grosor més suau */
  color: #2f4f1f;     /* verd fosc suau i elegant */  
}
.md-typeset .questionlaravel > .admonition-title::before,
.md-typeset .questionlaravel > summary::before {
  background-color: #64dd17;
  -webkit-mask-image: var(--md-admonition-icon--questionlaravel);
          mask-image: var(--md-admonition-icon--questionlaravel);
}


/*
 * admonittion:  pràctiques laravel
 */
 :root {
  --md-admonition-icon--praclaravel: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M107.2 0c2.5 0 4.7 .8 6.7 2l94.3 54.1c2.7 1.5 4.5 3.5 5.4 5.9c.9 2.2 .9 4.3 .9 5.6l0 193.4 69.2-39.7 0-100.3c0-2.6 .6-5 2.2-7.2c1.5-2.1 3.5-3.6 5.7-4.8c0 0 0 0 0 0l94-54c1.6-.9 3.4-1.6 5.5-1.6s4 .7 5.6 1.6l95.8 55.1c2.3 1.3 3.9 3 4.9 5.3c.9 2.1 .9 4.2 .9 5.8l0 107.2c0 2-.2 4.3-1.4 6.4c-1.2 2.2-3 3.7-5.1 4.9l-.1 .1-88 50.5 0 100c0 2.3-.3 4.8-1.6 7c-1.3 2.2-3.3 3.7-5.3 4.9c0 0 0 0-.1 0L208.7 510c-2.2 1.2-4.5 2-7.1 2s-4.9-.9-7.1-2l-.1-.1L7.1 402l-.5-.3c-1.1-.7-2.6-1.7-3.8-2.9C.9 396.9 0 394.6 0 391.6L0 65.9c0-4.8 3-7.9 5.5-9.3L100.5 2c2-1.2 4.3-2 6.8-2zM38.1 67.1l69 39.9 69.2-39.9L107.1 27.4l-69 39.7zm353 93.2l69-39.7-69-39.7-69.1 39.7 69.1 39.7zM189.2 89L120 128.8l0 186.4 69.2-39.9 0-186.4zM94.5 128.9L25.2 89.1l0 294.2 164 94.2 0-79.4-87.3-49.3-.2-.1c-1.3-.8-3.2-1.9-4.6-3.7c-1.7-2.1-2.5-4.7-2.5-7.7l0-208.5zm214.7 92.4l69.3 39.6 0-78.5-69.3-39.9 0 78.8zm94.5 39.6L473 221.2l0-78.8-69.3 39.9 0 78.5zM201.6 376.1l163.8-93.2-69-39.9L133 337.1l68.6 38.9zm12.9 101.5l164-94.2 0-78.8-164 93.6 0 79.4z"/></svg>');
}
.md-typeset .admonition.praclaravel,
.md-typeset details.praclaravel {
  border-color: #dd179b;
}
.md-typeset .praclaravel > .admonition-title,
.md-typeset .praclaravel > summary {
  background-color: rgb(252, 231, 248);
  font-weight: 600;   /* grosor més suau */
  color: #4f1f39;     /* verd fosc suau i elegant */  
}
.md-typeset .praclaravel > .admonition-title::before,
.md-typeset .praclaravel > summary::before {
  background-color: #dd179b;
  -webkit-mask-image: var(--md-admonition-icon--praclaravel);
          mask-image: var(--md-admonition-icon--praclaravel);
}


/*
 * ABC. ancho de página completo
 */
.md-grid {
  max-width: initial;
}

.md-typeset .admonition,
.md-typeset details {
font-size: 16px
}

/*
 * ABC. centrar la tabla en mkdocs
 */
 .center-table {
  display: flex;
  justify-content: center;
  margin: 0 0;
}

.center-table table {
  border-collapse: collapse;
}

.center-table th, .center-table td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}


.center-table table th {
  background-color: #f5d488; /* Cambia este color por el que prefieras */
  color: #333; /* Opcional: Cambia el color del texto */
}


/* Alinear el icono de PDF junto al botón de modo oscuro */
.md-header__source {
  display: flex;
  align-items: center;
  gap: 12px; /* Espaciado entre los elementos */
}

/* Ajustar el tamaño del icono de PDF */
.md-header__button.md-icon[title="Descargar el PDF"] {
  font-size: 22px;
  color: red; /* Puedes cambiarlo a otro color */
}

/* Estilizar el hover del icono */
.md-header__button.md-icon[title="Descargar el PDF"]:hover {
  color: #ff9900; /* Cambia el color cuando el cursor pasa encima */
}




/* ABC. Cambiar el color de fondo de la tabla */
.md-typeset table th {
  /*background-color: #ffd453; /* Cambia este color */
  background-color: #f0d583;
  color: #383119; /* Cambia el color del texto si es necesario */
  font-size: 1em;
}

/* .md-typeset table tr:hover td {
  background-color: #f7b6ad;
} */


/* ABC - Estilos personalizados para citas (blockquote) */
/* Cambiar color de texto */
.md-typeset blockquote {
  color: #333333;   /* Cambia este color al que quieras */
  font-size: 0.80m; /* Ajusta tamaño */
  border-inline-start: 7px solid #e6af0a !important; /* Color y grosor del borde */
  /*background: #8f6363; /* Opcional: fondo más claro */
  padding: 5 5;
}

/* Si quieres resaltar palabras como "IMPORTANTE:" */
.md-typeset blockquote strong {
  color: #c89808; /* Rojo para destacar */
}



/* Cambiar color de fondo de los code inline (no de bloques grandes) */
.md-typeset code {
  background-color: #f6f1e1;  /* color de fondo personalizado */
  color: #2b2b2b;             /* color del texto */
  border-radius: 4px;         /* esquinas redondeadas */
  padding: 0.15em 0.4em;      /* espacio interno */
  font-size: 0.9em;
}


/* ABC - color fons de la zona pestanyes*/
.md-typeset .tabbed-content {
  background-color: #fafaf3;
  /* background-color: #fcf7e5;
  border: 1px solid #ffecae; */
  padding: 1em;
}


/* Subrayado en secciones principales */
.md-typeset h2 {
  color: #e6af0a;         /* texto del color primario */
/*   border-bottom: 2px solid #e6b213;   /* línea del mismo color */
  border-bottom: 2px solid #e6af0a; 
 */  padding-bottom: 0.1em;
  margin-bottom: 0.75em;
  font-weight: 500;                         /* opcional: más peso */
}

.md-typeset h3 {
  color: #b49435;         /* texto del color primario */

}


/* ABC: para imágenes */
.figure-center {
    text-align: center;
}

.figure-center figure {
    display: inline-block;       /* opcional, para que se ajuste al contenido */
    margin: 0;
}

.figure-img-highlight {
    border: 2px solid #fff2c9;
    /* zoom no es estándar; mejor escala por ancho/altura */
    max-width: 80%;
}

.figure-caption-small {
    font-size: 13px;
    color: #bd8f04;
}